@page "/"
@rendermode InteractiveServer

<h3 style="text-align:center; margin-top:20px;">
    🌍 EcoMonitor
</h3>

<p style="text-align:center;">
    Transformando pequenas ações em grande impacto ambiental.
</p>

<div style="display:flex; justify-content:center; gap:20px; margin-top:30px;">

    <EcoStatus Titulo="Reciclagem de Plástico" Peso="1" />
    <EcoStatus Titulo="Descarte de Eletrônicos" Peso="5" />
    <EcoStatus Titulo="Plantio de Árvores" Peso="10" />

</div>